/* GLOBAL STYLE */

* {
  box-sizing: border-box;
}

.container {
  width: 1135px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin-bottom: 100px;
}

h1 span {
  color: orange;
}

/* ---------- */

/* HEADER */
/* .navigation-header { */
/*   border: 2px solid blue;

} */

/* .navigation-header a {
    border: 1px solid red;

} */

header {
  height: 60px;
  /*   border-bottom: 2px solid grey;
 */
}

header > div {
  /*   border: 2px solid green;
 */
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

header img {
  height: 40px;
}

.navigation-header a {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.navigation-header a:not(:first-child) {
  margin-left: 40px;
}

.navigation-header button {
  margin-left: 20px;
  border-radius: 15px;
}

.navigation-header button:hover {
  background-color: lightgrey;
  border-radius: 15px;
}

.navigation-header a:hover {
  background-color: #f2f2f2;
  border-radius: 15px;
}

/* -------- */
/* MAIN */

/* Le Haut du MAIN */

main {
  /*   border: solid red;
 */
  padding-top: 10px;
}

.intro {
  /*   border: solid blue;
  flex-direction: column;
 */
}

.intro h1 {
  margin: 10px;
}

.navigation-menu {
  /*   border: solid green;
 */
  display: flex;
  padding-top: 20px;
}

.navigation-menu > div {
  display: flex;
  flex: 1;
  border: solid black;
  padding: 12px;
  border-radius: 15px;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
}

.navigation-menu span {
  padding-right: 5px;
}

.navigation-menu div:hover {
  background-color: black;
  color: white;
  border-radius: 15;
}

.navigation-menu {
}

/* Les 1er images du MAIN */
